
<!DOCTYPE html>

<html>
<head>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/CSS/Style.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="container">
<header>
    
    <div id="header_yazi">ALTAY MESLEKİ VE TEKNİK ANADOLU LİSESİ <p></p>STAJ YÖNETİM SİSTEMİ</div> 
      <div class="login">@Html.Partial("_LoginPartial")</div>
        
    @using (Html.BeginForm("Ara","Home", FormMethod.Get))
{
        <div class="search">
        <input type="text" class="AraText" name="Ara" /><input type="button" class="AraButton" value="Ara" />
        </div>
}        
        </header>
      
        <nav>
            <a href="/">
                <div class="nav_item first">
                    <span>Anasayfa</span>
                </div>
            </a>
            <div class="nav_item">
            <span>Mesleki Eğitim Kanunu</span>
            </div>
            <div class="nav_item">
            <span>Listeler</span>
            </div>
            <div class="nav_item">
            <span>Firma Kayıt</span>
            </div>
            <div class="nav_item">
            <span>Belgeler</span>
            </div>
            <div class="nav_item">
            <span>SSS</span>
            </div>
            <a href="/iletisim/">
            <div class="nav_item last">
            <span>İletişim</span>
                </div>
            </a>
        </nav>

        <div id="main">
            <div id="left">
                <div class="news">
                    <div class="divBaslik">DUYURULAR</div>

                </div>
                <div class="news"><div class="divBaslik">DUYURULAR</div></div>
            </div>

            <div id="content">
                @RenderBody()
            </div>
        </div>
    <footer><small> &copy; Sultan YILDIZ DEMİR | Tüm hakkı saklıdır. </small></footer>
    </div>


@RenderSection("scripts", required: false)        
</body>
</html>