@import url(normalize.css);

body 
{
         font-family: Open Sans, sans-serif;
         font-size:12px;
         overflow-y:scroll;
}

a {
text-decoration:none;
color:black;
}

#container{
    width:960px;
    position:relative;
    margin:auto;
}


header{
    width:910px;
    height:80px;
    position:relative;   
    cursor:pointer;
    margin:10px;
    padding:10px;
    
}

#header_yazi{
    width:700px;
    height:80px;
    font-weight:bold;
    letter-spacing:2px;
    line-height:30px;
    font-size:20px;   
    float:left;

}

.search {
    width:200px;
    height:30px;
    position:relative;
    padding:5px;
    float:right;
    
}

.login {
    width:200px;
    height:30px;
    position:relative;
    padding:5px;
    float:right;
    margin-bottom:5px;
    
 
}



nav{
    width:935px;
    height:40px;
    line-height:40px;
    text-align:center;
    position:relative;
    margin:15px 0;
    box-shadow:0 0 6px #555252;
    border-radius:0 12px;
    background:white;
    cursor:pointer;

 
}

.nav_item{
    width:131px;
    height:40px;
    position:relative;
    float:left;
    border-right:2px solid #bdbaba;
    background:#7d7d7d;
    color:white;
    transition:all .3s ease-in-out
}

.first {
    border-radius:0 0 0 12px;
    width:134px;
}

.last{
    border-radius:0 12px 0 0;
    border:0;
    width:134px;
}

.nav_item:hover {
    box-shadow:0 0 20px white inset;
}

#main{
    width:935px;
    height:420px;
    background:white;
    padding:5px;
}

#left{

    width:240px;
    height:400px;
    float:left; 
    
   
}


.news{
    width:220px;
    height:180px;
    background:white;
    position:relative;
    margin:10px;
    border-radius:10px;
    box-shadow:0 0 20px gray;
    padding:5px;
}

#content{
    
    width:650px;
    height:400px;
    position:relative;
    text-align:justify;
    background:white;
    float:right;
    border-radius:10px;
    box-shadow:0 0 20px gray;
    padding:5px;

}

footer{
    width:935px;
    height:35px;
    line-height:35px;
    text-align:center;
    position:relative;
    margin:0;
    color:#555252;
    background:#bec0c2;
    border-radius:0 12px;
    box-shadow:0 0 10px #555252;
    
}

.divBaslik {
    width:220px;
    height:24px;
    line-height:20px;
    background:#8fadce;
    color:white;
    font-weight:bold;
    font-size:14px;
    border-radius:0 10px;
    text-indent:8px;
    box-shadow:0 0 16px white inset;
}



/*Kullanıcı Girisi*/
.login_line {
    width:210px;
    height:28px;
    line-height:36px;
    position:relative;
    margin-top:8px;
    text-align:center;
}
/*
.login_col1 {
    width:80px;
    height:36px;
    position:relative;
    float:left;
    font-weight:bold;
}
.login_col2 {
    width:100px;
    height:36px;
    position:relative;
    float:left;
}*/
.AraText {
   width:150px;
    height:25px;
    line-height:20px;
    position:relative;
    margin:auto;
    top:0;
    right:0;
    text-indent:4px;
     font-size:12px;
    font-weight:bold;
    border-radius:0 10px;
    box-shadow:0 0 16px white inset;
    outline:none;
}
.AraButton {
     width:40px;
    height:25px;
    line-height:20px;
    position:relative;
    margin:auto;
    top:0;
    right:0;
    text-align:center;
    font-size:12px;
    font-weight:bold;
    border-radius:0 10px;
    box-shadow:0 0 16px white inset;
   float:right;
   outline:none;
}
    
.Button {
    width:150px;
    height:25px;
    line-height:20px;
    position:relative;
    margin:auto;
    top:0;
    right:0;
    text-align:center;
    font-size:12px;
    font-weight:bold;
    border-radius:0 10px;
    box-shadow:0 0 16px white inset;
   
}
